[submodule "lib/UB-global-socioeconomic-resilience"]
	path = lib/UB-global-socioeconomic-resilience
	url = git@github.com:rmiddelanis/UB-global-socioeconomic-resilience.git
[submodule "lib/global-unbreakable-model"]
	path = lib/global-unbreakable-model
	url = git@github.com:rmiddelanis/global-unbreakable-model.git
